.x-window-text a, .x-window-text span {
    color: #0070D5;
}

.x-window-text a:hover {
    color: #F44336;
}

.x-form-trigger {
    background-position: 0 center !important;
}

.addJob {
    top: 8px !important;
    margin-left: 12px !important;
}

.keyword-steps {
    margin-top: 8px !important;
    margin-left: 10px !important
}

.scanpage-steps, .scanintervalmin-steps, .storetype-steps,.description-steps {
    margin-top: 8px !important;
    margin-left: -10px !important;
}
